$white_smoke: #efefef;
$white: #fff;
$victoria: #544f7b;
$charcoal: #484848;
$scampi :#69639a;
$regalBlue: #204056;
$zircon: #e9eaea;
$azure: #F0FEFF;
$springRain: #AFCAA2;
$gumLeaf: #A1C1AC;
$hintOfGreen: #DFF0D8;
$frostee: #D6E9C6;
$killarney: #468847;
