section {
  min-height: 500px;
}

.session_nav_content {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 1;
}

.content-nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.content-wrapper {
  padding-left: 6rem;
  padding-right: 6rem;
}

.content-nav-right {
  flex: 1 1;
  justify-content: flex-end;
}

.content-footer {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

header {
  position: relative;
  height: 3.5rem;
}

.flash {
  margin: auto;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $white_smoke;
  text-align: center;
  margin-top: 30px;
}

.inc, .made_in, .located {
  display: inline-block;
  font-size: 0.875rem;
  width: 30%;
}

.member {
  background-color: $victoria;
  color: $white;
}

.container-member {
  height: 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.left-info-member {
  width: 80%;
  display: flex;
  height: 5rem;
  z-index: 1;
}

.right-info-member {
  width: 20%;
  display: flex;
  height: 5rem;
  z-index: 1;
}

.avt {
  display: inline-block;
}

.avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.avatar_header {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.detail-user {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
}

.username {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: bold;
}

.count {
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
  font-weight: bold;
}

.img-course {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.picture-course {
  background-color: $white;
}

.avt-course {
  vertical-align: middle;
  height: 11.5rem;
}

#info-course {
  padding-top: 20px;
}

.topLine {
  color: $victoria;
}

.link-card {
  height: 12.5rem;
  color: $charcoal;
}

.topBar {
  background-color: $scampi;
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5rem;
  width: 100%;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.7;
}

// profile
.avatar-profile {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.info-profile {
  margin: auto;
}

.profile {
  background-color: $zircon;
  color: $regalBlue;
}

.container-profile {
  height: 15.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.detail-profile {
  display: flex;
  height: 8rem;
  padding-top: 20px;
}

.profile-left, .profile-right {
  width: 50%;
  text-align: center;
  margin: auto;
  height: 5rem;
}

.count-course, .quantity-subject {
  font-size: 2rem;
}

.profile-right:hover, .profile-left:hover {
  background-color: $azure;
  border-left: 4px solid $springRain;
}

// all members
.each-member {
  padding: 20px;
  display: flex;
}

.bt-view {
  opacity: 0;
  transition: opacity .35s ease;
}

.each-member:hover .bt-view {
  background-color: $gumLeaf;
  opacity: 1.0;
}

.info-member {
  padding-left: 10px;
}

// flash
.alert-notice {
  background-color: $hintOfGreen;
  border-color: frostee;
  color: $killarney;
  text-align: left;
}

label.required:after{
  content: " *";
  color: $red;
}

.submit-course {
  margin: auto;
  text-align: center;
}

.subjects, .course {
  min-height: 20px;
  background-color: $whiteSmoke;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px inset;
  padding: 19px;
  border-width: 1px;
  border-style: solid;
  border-color: $gainsboro;
  border-image: initial;
  border-radius: 4px;
  margin: 10px auto;
}

.subject {
  border-bottom: 2px dashed $monochromatic;
  margin-bottom: 10px;
}

.task {
  width: 80%;
  margin-left: auto;
}

.fa-trash {
  color: $red;
}

.error {
  margin: auto;
}

h3 {
  text-align: center;
}
